<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LemonBrains</title>
    <link  type="text/css" rel="stylesheet" href="/css/<%= css %>.css">
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo" id="logo" onclick="location.reload()">
            <div class="logo-gif-div">
                <img class="logo-gif" src="./Assets/gifs/Logo.gif">
            </div>
            <div class="logo-words">
                <span class="lemon">Lemon</span> <span class="brains">Brains</span><br>
            </div>
        </div>

        <div class="player-info">
            <!-- <a href="/users/">Go to user settings</a> -->
            <strong><a class="lemon" href="/">Home</a></strong>
            <a class="lemon" href="/logout">Logout</a>  
        </div>
    </nav>

    <div class="game-content">

        <div class="main-menu-buttons">
            <button id="play-game-button">Play Game</button>
        </div>
    
        <div class="options-menu" id="options-menu">
            <form action="">
                <h1 class="lemon customize-settings-header" id="questions-header">
                    Customize your settings
                </h1>
                <h2 class="menu-header">Difficulty</h2>
                <input type="radio" id="very-easy" name="difficulty" value="very-easy">
                <label for="very-easy">Very Easy</label><br>
                <input type="radio" id="easy" name="difficulty" value="easy">
                <label for="easy">Easy</label><br>
                <input type="radio" id="medium" name="difficulty" value="medium" checked>
                <label for="medium">Medium</label><br>
                <input type="radio" id="hard" name="difficulty" value="hard">
                <label for="hard">Hard</label><br>
                <input type="radio" id="extreme" name="difficulty" value="extreme">
                <label for="extreme">Extreme</label>
    
                <h2 class="menu-header">Zombie Speed</h2>
                <input type="radio" id="slow" name="zombieSpeed" value="slow">
                <label for="slow">Slow</label><br>
                <input type="radio" id="normal" name="zombieSpeed" value="normal" checked>
                <label for="normal">Normal</label><br>
                <input type="radio" id="fast" name="zombieSpeed" value="fast">
                <label for="fast">Fast</label><br>
    
                <h2 class="menu-header">Length of Day</h2>
                <input type="radio" id="thirtySeconds" name="lengthOfDay" value="30">
                <label for="thirtySeconds">30s</label><br>
                <input type="radio" id="oneMinute" name="lengthOfDay" value="60" checked>
                <label for="oneMinute">60s</label><br>
                <input type="radio" id="twoMinutes" name="lengthOfDay" value="120">
                <label for="twoMinutes">120s</label><br>
                <input type="radio" id="infinite" name="lengthOfDay" value="infinite">
                <label for="infinite">Infinite</label><br>
    
                <h2 class="menu-header">Question Types</h2>
                <input type="radio" id="addition" name="questionTypes" value="addition">
                <label for="addition">Addition</label><br>
                <input type="radio" id="subtraction" name="questionTypes" value="subtraction">
                <label for="subtraction">Subtraction</label><br>
                <input type="radio" id="multiplication" name="questionTypes" value="multiplication">
                <label for="multiplication">Multiplication</label><br>
                <input type="radio" id="all" name="questionTypes" value="all" checked>
                <label for="all">All</label><br>
            </form>
            
    
            <button class="close-settings-button" id="close-settings-button">Close</button>
        </div>
        
    
        
        <div class="quiz" id="quiz">
            <div class="menu-buttons" id="menu-buttons">
                <h1 class="lemon first-menu-header" id="questions-header">An entrepreneurial venture for the undead</h1>
                <h1 class="lemon second-menu-header" id="questions-header">...that teaches you math</h1>
        
                <div class="menu-buttons-div">
                    <button id="continue-venture-button">
                        Continue Venture
                    </button>
                    <button id="start-game-button">
                        Start New Business
                    </button>
                    <button id="customize-stand-button">
                        Customize Stand
                    </button>
                </div>
                
            </div>
        
            <div class="options-menu" id="options-menu">
                <form action="">
                    <h1 class="lemon customize-settings-header" id="questions-header">
                        Customize your settings
                    </h1>
                    <h2 class="menu-header">Difficulty</h2>
                    <input type="radio" id="very-easy" name="difficulty" value="very-easy">
                    <label for="very-easy">Very Easy</label><br>
                    <input type="radio" id="easy" name="difficulty" value="easy">
                    <label for="easy">Easy</label><br>
                    <input type="radio" id="medium" name="difficulty" value="medium" checked>
                    <label for="medium">Medium</label><br>
                    <input type="radio" id="hard" name="difficulty" value="hard">
                    <label for="hard">Hard</label><br>
                    <input type="radio" id="extreme" name="difficulty" value="extreme">
                    <label for="extreme">Extreme</label>
        
                    <h2 class="menu-header">Zombie Speed</h2>
                    <input type="radio" id="slow" name="zombieSpeed" value="slow">
                    <label for="slow">Slow</label><br>
                    <input type="radio" id="normal" name="zombieSpeed" value="normal" checked>
                    <label for="normal">Normal</label><br>
                    <input type="radio" id="fast" name="zombieSpeed" value="fast">
                    <label for="fast">Fast</label><br>
        
                    <h2 class="menu-header">Length of Day</h2>
                    <input type="radio" id="thirtySeconds" name="lengthOfDay" value="30">
                    <label for="thirtySeconds">30s</label><br>
                    <input type="radio" id="oneMinute" name="lengthOfDay" value="60" checked>
                    <label for="oneMinute">60s</label><br>
                    <input type="radio" id="twoMinutes" name="lengthOfDay" value="120">
                    <label for="twoMinutes">120s</label><br>
                    <input type="radio" id="infinite" name="lengthOfDay" value="infinite">
                    <label for="infinite">Infinite</label><br>
        
                    <h2 class="menu-header">Question Types</h2>
                    <input type="radio" id="addition" name="questionTypes" value="addition">
                    <label for="addition">Addition</label><br>
                    <input type="radio" id="subtraction" name="questionTypes" value="subtraction">
                    <label for="subtraction">Subtraction</label><br>
                    <input type="radio" id="multiplication" name="questionTypes" value="multiplication">
                    <label for="multiplication">Multiplication</label><br>
                    <input type="radio" id="all" name="questionTypes" value="all" checked>
                    <label for="all">All</label><br>
                </form>
                
        
                <button class="close-settings-button" id="close-settings-button">Close</button>
            </div>
            
        
            
            <div class="quiz" id="quiz">
                <h1 class="lemon" id="questions-header">Answer the questions to give zombies lemonade</h1>
                <div class="questions-div">
                    <div id="question">
                        <span id="int1"></span>
                        <span id="operator"></span>
                        <span id="int2"></span> =
                    </div>
                    <input type="number" name="answer" id="answer">
        
                    
                </div>
        
                <div class="buttons-div">
                    <button id="submit-button">Submit</button>
                    <button id="show-answer-button">See Answer</button>
        
                </div>
                <div class="time-left-div">
                    <span class="time-left lemon" ud>Time Left: </span>
                    <span class="day-time-left lemon" id="day-time-left">60</span>
                </div>
        
            </div>
            
            <div class="game-over-div" id="game-over-div">
                <h1 class="brains" id="gameOver">Game Over</h1>
                <button id="try-again">Try Again</button>
            </div>
        
            <div class="game-over-div" id="end-of-day-div">
                <h1 class="lemon" id="success">Success!</h1>
                <button id="next-day">Next Day</button>
            </div>
            <h1 class="lemon" id="questions-header">Answer the questions to give zombies lemonade</h1>
            <div class="questions-div">
                <div id="question">
                    <span id="int1"></span>
                    <span id="operator"></span>
                    <span id="int2"></span> =
                </div>
                <input type="number" name="answer" id="answer">
    
                
            </div>
    
            <div class="buttons-div">
                <button id="submit-button">Submit</button>
                <button id="show-answer-button">See Answer</button>
    
            </div>
            <div class="time-left-div">
                <span class="time-left lemon" ud>Time Left: </span>
                <span class="day-time-left lemon" id="day-time-left">60</span>
            </div>
    
        </div>
        
        <div class="game-over-div" id="game-over-div">
            <h1 class="brains" id="gameOver">Game Over</h1>
            <button id="try-again">Try Again</button>
        </div>
    
        <div class="game-over-div" id="end-of-day-div">
            <h1 class="lemon" id="success">Success!</h1>
            <button id="next-day">Next Day</button>
        </div>





        <!-- PLAYER STATS DIV -->
        <div class="main-menu-buttons lemon" style="margin-top: 20px;">

            <!-- The hidden inputs -->
            <input id="day-input" name="authid" type="input" value="<%= day %>" hidden>
            <input id="earnings-input" name="authid" type="input" value="<%= earnings %>" hidden>

            <form action="/stands/put" method="POST" class="lemon-brains-form">
                <!-- <h2><%= stand %> day: <%= day %> | earnings: <%= earnings %></h2> -->
                <!-- <label for="authid">authid:
                    <input id="authid" name="authid" type="input" value="<%= authid %>">
                </label> -->
                Day is incremented on each game over, earnings are calculated based on number and type of questions answered correctly
                <br>
                <h2>Addition</h2>
                <label for="addCount">Count:
                    <input id="addCount" name="addCount" type="input" value="0">
                </label>
                <br>
                <label for="addCorrect">Correct:
                    <input id="addCorrect" name="addCorrect" type="input" value="0">
                </label>
                <br>
                <h2>Subtraction</h2>
                <label for="subCount">Count:
                    <input id="subCount" name="subCount" type="input" value="0">
                </label>
                <br>
                <label for="subCorrect">Correct:
                    <input id="subCorrect" name="subCorrect" type="input" value="0">
                </label>
                <br>
                <h2>Multiplication</h2>
                <label for="mulCount">Count:
                    <input id="mulCount" name="mulCount" type="input" value="0">
                </label>
                <br>
                <label for="mulCorrect">Correct:
                    <input id="mulCorrect" name="mulCorrect" type="input" value="0">
                </label>
                <br>
                <h2>Division</h2>
                <label for="divCount">Count:
                    <input id="divCount" name="divCount" type="input" value="0">
                </label>
                <br>
                <label for="divCorrect">Correct:
                    <input id="divCorrect" name="divCorrect" type="input" value="0">
                </label>
                <br><br>
                <!-- <input id="day-input" type="hidden" name="day" value="<%= day %>"> -->
                <input type="Submit" value="Game over, send updates to server">
                <br><br>
        
                <% if (admin) { %>
                    <br><br><a href="/admin">Go to admin page</a>
                <% } %>
            </form>
        </div>

    </div>

    <div class="playing-field sky" id="playing-field">
        <span class="lemonade-stand-container">
        <canvas class="lemonade-stand" width="500px" height="500px"></canvas>
        </span>
    </div>
    <div class="ground">

    </div>
    
</body>
<script src="js/stand.js" type="module"></script>
<!-- <script src="js/main.js" type="module"></script> -->
</html>